*{
    margin: 0;
    padding: 0;
}
.search{
    border: 1px solid black;
    width: 400px;
    background-color: blue;
}
.search > :nth-child(2){
    background-color: blue;
    width: 10%;
    height: 10%;
    font-size: 1.5rem;
    overflow: hidden;
    color: white;
    border: none;
}
.search > :nth-child(1){
    border: none;
    font-size: 1.5rem;
    width: 80%;
    height: 50px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.currentWeather{
    border: 1px solid black;
    width: 40%;
    height: 20%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
};
.currentWeather.current>*{
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    justify-content: center;
    color: white;
    background-color: black;
}